.git
.github
.omx
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.DS_Store
config.toml
results
assets/temp
assets/backgrounds
video_creation/data/videos.json
video_creation/data/cookie-threads.json
out
